.imageContainer{
    display: flex;
    align-items: center;
    &__image{
        border-radius: 0.4rem;
        max-width: 800px;
        height: auto;
        object-fit: cover;
        margin: 1rem;
        box-shadow: 
        0 0 8px 0 rgba(17, 22, 26, 0.16),
        0 4px 8px 0 rgba(17, 22, 26, 0.08), 
        0 8px 16px 0 rgba(17, 22, 26, 0.08);
    }
}